@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,600,700');

.mySlides {display:none;}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
img {
    width: 100%;
}
.nav-link:hover {
    color: #00d3b5!important;
}
.navbar-light {
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
label {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #8d8d8e;
}
a.btn, button.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 15px;
    box-shadow: 2px 2px 10px #00d3b348;
}
a.btn:hover, button.btn:hover {
    color: #fff;
}
.icono {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #00d3b5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono span, .icono i {
    color: #fff;
    font-size: 20px;
}
.cabecera {
    background-image: url(../img/landing_1.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    background-position: 110%;
    padding: 130px 0 130px 0;
    margin: 0 !important;
    width: 100%;
}
.logo {
    font-size: 30px;
    color: #000;
}
.logo span {
    color: #00d3b5;
}
.btnModyo {
    border-radius: 50px;
    background-color: #00d3b5;
    color: #ffffff;
}
.background:nth-child(odd) {
    background-color: #f6f6f6;
}
.tarjeta {
    background-color: #fff;
    padding: 20px;
}
.tarjeta a {
    color: #00d3b5;
    padding-bottom: 20px;
}
.listaPrototipos {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}
.form-control {
    border-radius: 0 !important;
}
.empleado {
    box-shadow: 4px 4px 15px rgba(0,0,0,0.15);
    padding: 20px;
}
.empleadoFoto {
    overflow: hidden;
    border-radius: 50%;
    max-width: 80px;
    margin-left: 15px;
}
.empleadoTexto {
    margin-left: 20px;
    margin-top: 3px;
}
.imagenAbout{
    box-shadow: 4px 4px 15px rgba(0,0,0,0.15);
    margin: 0 50px;
}
.testimonioImg{
    width: 80px;
    margin-left: calc(50% - 40px);
    border-radius: 50%;
    overflow: hidden;
}
.testimonialTexto{
    font-size: 18px;
    color: #8d8d8e;
}
.w3-white {
    background-color: #00d3b5!important;
    border: none !important;
}
.w3-badge{
    background-color: #b4b4b4;
    margin: 5px;
    border: none !important;
}
@media (max-width: 768px) {
    .cabecera {
        padding: 20px 0;
        background-image: none;
    }
    form {
        margin: 0 20px;
    }
}